.App {
	background: rgba(16, 16, 16, 0.77);
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	height: 7vh;
	padding: 1rem 2rem;
	background: #101010;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	color: #a10101;
}

.header select {
	height: 30px;
	width: 140px;
	border-radius: 5px;
	border: none;
}

section {
	padding: 1rem;
}

.contents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}

.homeBox {
	width: 100%;
	min-height: 93vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeBoxImg {
	width: 30rem;
	height: 30rem;
}

.homeBoxImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.homBoxCard {
	font-size: 2.5rem;
	text-align: center;
}

.smDesc {
	font-size: 1.3rem;
}