
.App {

}

.main {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	background: #474747;
	transition: .5s;
}

.main.active {
	right : 300px;
	transition: .5s;
}

.header {
	height: 7vh;
	padding: 1rem 2rem;
	background: #101010;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	color: #a10101;
}

.header select {
	height: 30px;
	width: 140px;
	border-radius: 5px;
	border: none;
}

.toggle {
	width: 30px;
	height: 30px;
	background: url(https://i.ibb.co/HrfVRcx/menu.png);
}


.toggle.active {
	background-size: 25px;
	background: url(https://i.ibb.co/rt3HybH/close.png) no-repeat center;
	cursor: pointer;
}

section {
	padding: 1rem;
}

.contents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}

.homeBox {
	width: 100%;
	min-height: 93vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeBoxImg {
	width: 30rem;
	height: 30rem;
}

.homeBoxImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.homBoxCard {
	font-size: 2.5rem;
	text-align: center;
}

.smDesc {
	font-size: 1.3rem;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #343434;
	z-index: -1;
}

.menu li {
	list-style: none;
	margin-bottom: 2rem;
}

.menu a {
	text-decoration: none;
	font-size: 2rem;
	color: #000;
}

.menu a:hover {
	color: #a10101;
}